{% extends 'tasks/layout.html' %}

{% block body %}

<div>
    <div class="card w-50 mx-auto mt-4 shadow-lg p-3 mb-3 bg-white rounded">
        <div class="card-header">
            <h3 class="font-weight-bold">Todo Application</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                        <h3>Are you sure you want to delete "{{task.title}}"</h3>
                    </div>
                    <input type="submit" class="btn btn-sm btn-info my-2" href="/" value="Cancel" />
                    <input type="submit" class="btn btn-sm btn-danger my-2" href="/" value="Delete" />
                </form>
            </h5>
        </div>
    </div>
</div>

{% endblock %}