{% extends 'tasks/layout.html' %}

{% block body %}

<div>
    <div class="card mt-4 shadow-lg  mb-3 bg-white rounded">
        <div class="card-header p-3">
            <h3 class="font-weight-bold">Todo Application</h3>
        </div>
        <div class="card-body">
            <!-- Button trigger modal -->
            <div class="p-2">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                    Add Task <span class="font-weight-bold h-5">+</span>
                </button>
            </div>
            <hr />

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="{% url 'index' %}">
                            <div class="modal-body">
                                <h5 class="card-title">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <input type="text" class="form-control" name="title" 
                                                id="title" placeholder="Enter your task" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check mt-3">
                                                <input class="form-check-input" name="completed" type="checkbox" 
                                                value="True" id="flexCheckChecked" >
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    <span class="font-weight-bold">Completed</span>
                                                </label>
                                              </div>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Save" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% for task in tasks %}
            {% if task.title == ' ' %}
            {%else%}
            {% if task.completed == True %}
            <div class="card-text shadow-lg p-3 mb-3 bg-white rounded ">
                <div class="row d_row">
                    <div class="d_text">
                        <strike>{{task.title}}</strike>
                    </div>
                    <div class="d_btn">
                        <div>
                            <a href="{% url 'update' task.id %}" class="btn btn-sm btn-info mb-2">Update</a>
                            <a href="{% url 'delete' task.id %}" class="btn btn-sm btn-danger mb-2">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {%else%}
            <div class="card-text shadow-lg p-3 mb-3 bg-white rounded ">
                <div class="row d_row">
                    <div class="d_text">
                        <span>{{task.title}}</span>
                    </div>
                    <div class="d_btn">
                        <div>
                            <a href="{% url 'update' task.id %}" class="btn btn-sm btn-info mb-2">Update</a>
                            <a href="{% url 'delete' task.id %}" class="btn btn-sm btn-danger mb-2">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>

    </div>

    {% endblock %}