{% extends 'tasks/layout.html' %}

{% block body %}

<div>
    <div class="card w-50 mx-auto mt-4 shadow-lg p-3 mb-3 bg-white rounded">
        <div class="card-header">
            <h3 class="font-weight-bold">Todo Application</h3>
        </div>
        <div class="card-body">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                Add Task <span class="font-weight-bold h-5">+</span>
            </button>
            <hr />

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="{% url 'index' %}">
                            <div class="modal-body">
                                <h5 class="card-title">
                                    {% csrf_token %}
                                    <div class="row">
                                        {{form.title}}
                                        <div class="form-check mt-3">
                                            {{form.completed}} <span class="font-weight-bold">Completed</span>
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- <button type="submit" class="btn btn-primary">Save</button> -->
                                <input type="submit" class="btn btn-primary" value="Save" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% for task in tasks %}
            {% if task.completed == True %}
            <div class="card-text shadow-lg p-3 mb-3 bg-white rounded align-middle d-flex justify-content-between">
                <strike>{{task}}</strike>
                <div>
                    <a href="{% url 'update' task.id %}" class="btn btn-sm btn-info mb-2">Update</a>
                    <a href="{% url 'delete' task.id %}" class="btn btn-sm btn-danger mb-2">Delete</a>
                </div>
            </div>
            {%else%}
            <div class="card-text shadow-lg p-3 mb-3 bg-white rounded align-middle d-flex justify-content-between">
                <span>{{task}}</span>
                <div>
                    <a href="{% url 'update' task.id %}" class="btn btn-sm btn-info mb-2">Update</a>
                    <a href="{% url 'delete' task.id %}" class="btn btn-sm btn-danger mb-2">Delete</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>

    {% endblock %}